@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-maroon-900: #4a0404;
  --color-maroon-800: #600505;
  --color-maroon-700: #800000;
  --color-maroon-600: #9b1c1c;
  --color-maroon-500: #b91c1c;
  
  --color-cream-50: #fffdf5;
  --color-cream-100: #fffdd0;
  --color-cream-200: #fefce8;
  --color-cream-300: #fdf6b2;
}

/* Custom styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream-50);
  color: var(--color-maroon-900);
}
